<html>
<head>
    <title>Slots!</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>
<body>
    <div id="main-wrapper" class="container">
        <div class="row">
            <div>
                <h1>Lets play slots!</h1>
                <hr/>
            </div>
        </div>
    {{{body}}}
    </div>
    <div class="custom-footer">
        <p>Copyright 2015 <a href="http://jakedavies.info" style="color: white">Jake Davies</a></p>
    </div>
    <script type="text/javascript" src="js/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="js/slot.js"></script>

</body>
</html>
