<div id="game-board" class="row">
    <form class="col-md-8 col-md-offset-2 lander-action-container" style="height:300px" action="/login" method="post">
        <div class="row" style="padding-top: 10px">
            <div class="col-md-10 col-md-offset-1">
            <h4 style="line-height: 25px">Welcome to Lets Play Slots! <br/>This is a simple slot machine game where you can test your luck and earn credits.
            To begin just enter a username, if you are returning, enter the username you entered the first time you visited </h4>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <input class="lander-text-field" type="text" name="username" placeholder="username">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button class="btn lander-button">Play!</button>
            </div>
        </div>
    </form>
</div>

