<div id="game-board" class="row">
    <div class="play-area col-md-12 col-sm-12">
        <div class="row">
            <div class="pull-right" style="margin-left: 50px;"><h3>{{credits}} <i class="fa fa-diamond"></i></h3></div>
        </div>
        <div class="row slot-wrapper">
            <div class="col-md-8 col-md-offset-2 col-sm-12 slot-container">
                <div class="col-xs-4">
                    <div class="slot">
                        <div class="col-sm-12 slot-item"><i class="fa fa-cube fa-4x"></i></div>
                        <div class="col-sm-12 slot-item"><i class="fa fa-4x fa-money"></i></div>
                        <div class="col-sm-12 slot-item"><i class="fa fa-4x fa-money"></i></div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="slot">
                        <div class="col-sm-12 slot-item"><i class="fa fa-cube fa-4x"></i></div>
                        <div class="col-sm-12 slot-item"><i class="fa fa-4x fa-money"></i></div>
                        <div class="col-sm-12 slot-item"><i class="fa fa-4x fa-beer"></i></div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="slot">
                        <div class="col-sm-12 slot-item"><i class="fa fa-4x fa-money"></i></div>
                        <div class="col-sm-12 slot-item"><i class="fa fa-beer fa-4x"></i></div>
                        <div class="col-sm-12 slot-item"><i class="fa fa-4x fa-money"></i></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <a href="/spin" class="btn" id="spin-button">Spin!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
